.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }

  1% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

.fade-in-delay {
  opacity: 0;
  animation: fade-in 350ms ease-in-out forwards;
  animation-delay: 100ms;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }

  99% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-5px);
  }
  30%,
  100% {
    transform: translateY(0);
  }
}

@keyframes expand {
  0% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
  }
}
